aiohttp
aiosignal
altair
async-timeout
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
dataclasses-json
decorator
entrypoints
faiss-cpu
filelock
frozenlist
fsspec
gitdb
GitPython
greenlet
huggingface
huggingface-hub
idna
importlib-metadata
InstructorEmbedding
Jinja2
joblib
jsonschema
langchain
langchainplus-sdk
markdown-it-py
MarkupSafe
marshmallow
marshmallow-enum
mdurl
mpmath
multidict
mypy-extensions
networkx
nltk
numexpr
numpy
openai
openapi-schema-pydantic
packaging
pandas
Pillow
protobuf
pyarrow
pydantic
pydeck
Pygments
Pympler
PyPDF2
pyrsistent
python-dateutil
python-dotenv
pytz
PyYAML
regex
requests
rich
safetensors
scikit-learn
scipy
semver
sentence-transformers
sentencepiece
six
smmap
SQLAlchemy
streamlit
sympy
tenacity
threadpoolctl
tiktoken
tokenizers
toml
toolz
torch
torchvision
tornado
tqdm
transformers
typing-inspect
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
yarl
zipp
